.portfolio {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 20px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
}

.portfolio-categories-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 8px 20px;
}

.portfolio-categories-container li {
    border-bottom: 2px solid black;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 2px 0px;
    align-items: center;
    flex-grow: 1;
}

.portfolio-categories-container li ul {
    list-style: none;
    cursor: pointer;
    padding: 0px 20px 0px 20px;
    font-size: 20px;
    font-weight: 700;
}

.portfolio-categories-container li ul:hover {
    border-bottom: 2px solid gray;
    margin-bottom: -2px;
}

.portfolio-video {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 20px;
}

.portfolio h1 {
    font-size: 48px;
    align-self: flex-start;
    margin: 20px 20px 0px 20px;
}
.portfolio h2 {
    font-size: 32px;
    align-self: flex-start;
    margin: 20px 64px;
}
.portfolio p {
    font-size: 24px;
    align-self: flex-start;
    margin-left: 64px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.player-wrapper {
    align-self: center;
    padding: 0px 64px;
    width: 100%;
    min-width: 500px;
    height: 576px;
}