.portfolio {
    background-color: dimgray;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    justify-content: center;
}

.portfolio-categories-container {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    background-color: aqua;
    flex-grow: 1;
    padding: 8px 20px;
    justify-self: center;
    justify-content: center;
}

.portfolio-categories-container li {
    background-color: antiquewhite;
    display: inline-flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.portfolio-categories-container li ul {
    list-style: none;
    margin: 0px 20px;
    font-size: 20px;
    font-weight: 700;
    
    background-color: aquamarine;
}

.link {
    text-decoration: none;
    color: black;
}

hr {
    flex-grow: 1;
    margin: 10px 0px;
    border: 0.05em solid black;
}